In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns
import datetime
import math
from decimal import Decimal

In [3]:
Sales = pd.read_csv(r"sales_data_intern2grow.csv")
Sales

           date     product     category   price  quantity  revenue
0    2022-01-01  Smartphone  Electronics   600.0      10.0   6000.0
1    2022-01-01      Laptop  Electronics  1200.0       5.0   6000.0
2    2022-01-02     T-Shirt     Clothing    20.0      50.0   1000.0
3    2022-01-03  Headphones  Electronics   100.0      20.0   2000.0
4    2022-01-04     T-Shirt     Clothing    20.0      25.0    500.0
..          ...         ...          ...     ...       ...      ...
364  2022-12-27       Watch  Accessories   150.0       5.0    750.0
365  2022-12-28        Coat     Clothing   100.0       5.0    500.0
366  2022-12-29  Headphones  Electronics   100.0      10.0   1000.0
367  2022-12-30  Smartphone  Electronics   600.0      11.0   6600.0
368  2022-12-31      Hoodie     Clothing    40.0      30.0   1200.0

[369 rows x 6 columns]

In [18]:
DataFrame = pd.DataFrame(Sales)

In [19]:
DataFrame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 369 entries, 0 to 368
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      369 non-null    datetime64[ns]
 1   product   369 non-null    object
 2   category  369 non-null    object
 3   price     369 non-null    object
 4   quantity  369 non-null    object
 5   revenue   369 non-null    object
dtypes: datetime64[ns](1), object(5)
memory usage: 17.4+ KB

In [5]:
Sales.describe()

             price    quantity      revenue
count   367.000000  368.000000   368.000000
mean    211.226158   14.565217  2060.679348
std     227.335170    8.595740  1910.930790
min      20.000000    3.000000   300.000000
25%      50.000000    8.000000   800.000000
50%     100.000000   12.000000  1200.000000
75%     300.000000   20.000000  2400.000000
max    1200.000000   50.000000  7200.000000

In [20]:
DataFrame=DataFrame.fillna('')

In [21]:
DataFrame.isnull().sum()

date        0
product     0
category    0
price       0
quantity    0
revenue     0
dtype: int64

In [22]:
DataFrame.nunique()

date        365
product      14
category      8
price        12
quantity     20
revenue      32
dtype: int64

In [23]:
DataFrame['date'] = pd.to_datetime(DataFrame['date'])
DataFrame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 369 entries, 0 to 368
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      369 non-null    datetime64[ns]
 1   product   369 non-null    object
 2   category  369 non-null    object
 3   price     369 non-null    object
 4   quantity  369 non-null    object
 5   revenue   369 non-null    object
dtypes: datetime64[ns](1), object(5)
memory usage: 17.4+ KB

In [24]:
DataFrame.dropna()

          date     product     category   price quantity revenue
0   2022-01-01  Smartphone  Electronics   600.0     10.0  6000.0
1   2022-01-01      Laptop  Electronics  1200.0      5.0  6000.0
2   2022-01-02     T-Shirt     Clothing    20.0     50.0  1000.0
3   2022-01-03  Headphones  Electronics   100.0     20.0  2000.0
4   2022-01-04     T-Shirt     Clothing    20.0     25.0   500.0
..         ...         ...          ...     ...      ...     ...
364 2022-12-27       Watch  Accessories   150.0      5.0   750.0
365 2022-12-28        Coat     Clothing   100.0      5.0   500.0
366 2022-12-29  Headphones  Electronics   100.0     10.0  1000.0
367 2022-12-30  Smartphone  Electronics   600.0     11.0  6600.0
368 2022-12-31      Hoodie     Clothing    40.0     30.0  1200.0

[369 rows x 6 columns]

In [25]:
DataFrame.duplicated().sum()

1

In [26]:
DataFrame.drop_duplicates()

          date     product     category   price quantity revenue
0   2022-01-01  Smartphone  Electronics   600.0     10.0  6000.0
1   2022-01-01      Laptop  Electronics  1200.0      5.0  6000.0
2   2022-01-02     T-Shirt     Clothing    20.0     50.0  1000.0
3   2022-01-03  Headphones  Electronics   100.0     20.0  2000.0
4   2022-01-04     T-Shirt     Clothing    20.0     25.0   500.0
..         ...         ...          ...     ...      ...     ...
364 2022-12-27       Watch  Accessories   150.0      5.0   750.0
365 2022-12-28        Coat     Clothing   100.0      5.0   500.0
366 2022-12-29  Headphones  Electronics   100.0     10.0  1000.0
367 2022-12-30  Smartphone  Electronics   600.0     11.0  6600.0
368 2022-12-31      Hoodie     Clothing    40.0     30.0  1200.0

[368 rows x 6 columns]

In [34]:
DataFrame['revenue'] = DataFrame['revenue'].replace('', np.nan).astype(float)
DataFrame['price'] = DataFrame['price'].replace('', np.nan).astype(float)
DataFrame['quantity'] = DataFrame['quantity'].replace('', np.nan).astype(float)

C:\Users\omars\AppData\Local\Temp\ipykernel_19324\132137959.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  DataFrame['price'] = DataFrame['price'].replace('', np.nan).astype(float)
C:\Users\omars\AppData\Local\Temp\ipykernel_19324\132137959.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  DataFrame['quantity'] = DataFrame['quantity'].replace('', np.nan).astype(float)

In [35]:
DataFrame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 369 entries, 0 to 368
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      369 non-null    datetime64[ns]
 1   product   369 non-null    object
 2   category  369 non-null    object
 3   price     367 non-null    float64
 4   quantity  368 non-null    float64
 5   revenue   368 non-null    float64
dtypes: datetime64[ns](1), float64(3), object(2)
memory usage: 17.4+ KB

In [36]:
DataFrame.describe().T

,count,mean,min,25%,50%,75%,max,std
date,369,2022-07-01 15:05:21.951219456,2022-01-01 00:00:00,2022-04-01 00:00:00,2022-07-02 00:00:00,2022-10-01 00:00:00,2022-12-31 00:00:00,NaN
price,367.0,211.226158,20.0,50.0,100.0,300.0,1200.0,227.33517
quantity,368.0,14.565217,3.0,8.0,12.0,20.0,50.0,8.59574
revenue,368.0,2060.679348,300.0,800.0,1200.0,2400.0,7200.0,1910.93079

## 1. What was the total revenue generated by the company over the course of the year?

In [37]:
total_revenue = DataFrame['revenue'].sum()
total_revenue

758330.0

## 2. Which product had the highest revenue? How much revenue did it generate?

In [39]:
product_revenue = DataFrame.groupby('product')['revenue'].sum()
top_product = product_revenue.idxmax()
top_product_revenue = product_revenue.max()
top_product, top_product_revenue

('Smartphone', 434400.0)

## 3.What was the average price of a product sold by the company?

In [40]:
Average_Price = DataFrame['price'].mean()
Average_Price

211.22615803814713

## 4.What was the total quantity of products sold by the company?

In [41]:
total_quantity = DataFrame['quantity'].sum()
total_quantity

5360.0

## 5.Which category had the highest revenue? How much revenue did it generate?

In [42]:
product_revenue = DataFrame.groupby('category')['revenue'].sum()
top_product = product_revenue.idxmax()
top_product_revenue = product_revenue.max()
top_product, top_product_revenue

('Electronics', 516080.0)

## 6.What was the average revenue per sale?

In [43]:
DataFrame['revenue'].mean()

2060.679347826087

## 7.What was the total revenue generated in each quarter of the year? (i.e. Q1, Q2, Q3, Q4)

In [46]:
DataFrame['date'] = pd.to_datetime(DataFrame['date'])
DataFrame['quarter'] = DataFrame['date'].dt.to_period('Q')
quarterly_revenue = DataFrame.groupby('quarter')['revenue'].sum()
quarterly_revenue

quarter
2022Q1    182100.0
2022Q2    183970.0
2022Q3    197680.0
2022Q4    194580.0
Freq: Q-DEC, Name: revenue, dtype: float64